<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-first uiRootPath="/katalog/_"}}
    <title>{{{detag (or page.title 'Page Not Found')}}}{{#if site.title}} | {{{site.title}}}{{/if}}</title>
{{> head-last uiRootPath="/katalog/_"}}
  </head>
  <body class="status-404">
{{> header uiRootPath="/katalog/_"}}
{{> body-404 uiRootPath="/katalog/_"}}
{{> footer uiRootPath="/katalog/_"}}
  </body>
</html>
